@import url("webfonts.css");

.cg-Specimen-Html {
    border: none !important;
    background: none !important;
}

.stabilityIndex {
    text-align:center;
    padding:8px; 
    width:100%; 
    height:100%; 
    font-family:"Roboto", sans-serif; 
    font-weight:bold;
    font-size:12px;
    letter-spacing:2px;
    text-transform:uppercase;
    color: #101820;
    border-radius:16px;
}
.experimental {
    background:#FF5578;
}
.unstable {
    background:#FFD54F;
}
.stable {
    background:#50C8A4;
}